<div class="form-wrapper">
    <h1>新規登録</h1>

    <!-- ユーザー登録 -->
    <%= form_with model: @user do |f| %>
        <div class="form-item">
            <%= f.text_field :name, placeholder:"User Name" %>
        </div>
        <div class="form-item">
            <%= f.text_field :email, placeholder:"Email Address" %>
        </div>
        <div class="form-item">
            <%= f.password_field :password, placeholder:"Password" %>
        </div>
        <div class="form-item">
            <%= f.password_field :password_confirmation, placeholder:"Password" %>    
        </div>
        <div class="button-panel">
            <%= f.submit "登録する", class:"button" %> 
        </div>
    <% end %>
</div>