<% content_for(:title, I18n.t("user.new.title")) %>

<div class="user-new-container my-5">

  <!-- タイトル -->
  <h1><%= I18n.t("user.new.title") %></h1>

  <!-- ユーザー登録 -->
  <%= form_with model: @user do |f| %>

    <!-- エラーメッセージ（8/25追加） -->
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-item">
      <%= f.text_field :name, placeholder: I18n.t("placeholder.name") %>
    </div>
    <div class="form-item">
      <%= f.text_field :email, placeholder: I18n.t("placeholder.email") %>
    </div>
    <div class="form-item">
      <%= f.password_field :password, placeholder: I18n.t("placeholder.password") %>
    </div>
    <div class="form-item">
      <%= f.password_field :password_confirmation, placeholder: I18n.t("placeholder.password_confirmation") %>    
    </div>

    <!-- 登録する -->
    <%= f.submit I18n.t("buttons.submit"), class:"btn user-new-btn" %>
  <% end %>

  <!-- ログインするリンク -->
  <div class="form-footer">
    <p><%= link_to I18n.t("links.login"), login_path %></p>
  </div>
</div>