<% content_for(:title, I18n.t("user.show.title", name: @user.name)) %>

<% breadcrumb :user_show, @user %>

<div class="container my-5">

  <!-- タイトル -->
  <div class="title">
      <h1><%= I18n.t("user.show.title", name: @user.name) %></h1>
  </div>

  <!-- ユーザー詳細 -->
  <div class="user-show-form">
    <div class="row">
      <!-- ユーザー画像 -->
      <div class="col-md-3 d-flex align-items-center">
        <%= image_tag(@user.profile_image.present? ? @user.profile_image.url : "user-image.png", class: "img-fluid user-image") %>
      </div>
      <div class="col-md-9 mt-4">
        <h2 class="fw-bold">
          <%= @user.name %>
        </h2>
        <p class="user-comment">
          <%= @user.comment %>
        </p>
      </div>
    </div>
  </div>

  <!-- お気に入り食品 -->
  <div class="favorite-tab mt-5">
    <h2><%= I18n.t("user.show.favorite") %></h2>
  </div>
  <% if @favorite_foods.empty? %>
    <div class="subtitle">
      <p><%= I18n.t("user.show.unfavorite") %></p>
    </div>
  <% end %>


  <!-- 検索結果カード -->
  <%if @favorite_foods.present? %>
    <div class="favorite-food-form">
      <div class="row">
        <% @favorite_foods.each do |favorite| %>
          <div class="col-6 mt-4 d-flex">
            <%= link_to food_path(favorite), class: "card index-card border-primary d-flex flex-row text-decoration-none" do %>
              <!-- 食品写真 -->
              <div class="d-flex align-items-center">
                  <%= image_tag(favorite.food_image.present? ? favorite.food_image.url : "image_ramen.png", class: "img-fluid index-food-image") %>
              </div>
              <div class="d-flex flex-column mt-4 me-2">
                <!-- 食品名 -->
                <h5 class="card-title fw-bold"><%= favorite.name %></h5>
                <!-- 食品タグ -->
                <h6 class="fw-bold"><span class="badge rounded-pill bg-danger"><%= favorite.food_category.name %></span></h6>
                <!-- 辛さレベル -->
                <span class="card-text fw-bold">
                  <%=  I18n.t("activerecord.attributes.food.spice_level") %>
                  <!-- 赤 -->
                  <% favorite.spice_level.times do %>
                    <i class="bi bi-fire text-danger"></i>
                  <% end %>
                  <!-- グレー -->
                  <% (5 - favorite.spice_level).times do %>
                    <i class="bi bi-fire text-secondary"></i>
                  <% end %>
                </span>
                <!-- 希望小売価格 -->
                <span class="card-text fw-bold">
                  <%=  I18n.t("activerecord.attributes.food.price") %>
                  <% if favorite.price != 0 %>
                    <%= number_to_currency(favorite.price, unit: I18n.t("food.index.en"), format: "%n %u", precision: 0) %><%= I18n.t("food.index.in_price") %>
                  <% else %>
                    <%= I18n.t("food.index.open_price") %>
                    <% end %>
                </span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>