<!-- パンくずリスト -->
<% breadcrumb :user_show, @user %>

<div class="container my-5">

    <!-- タイトル -->
    <div class="text-center mb-5">
        <h1><%= @user.name %>のページ</h1>
    </div>

    <!-- ユーザー詳細 -->
    <div class="user-show-form mb-5">
        <div class="row align-items-center">
            <!-- ユーザー画像 -->
            <div class="col-md-4 text-center">
                <%= image_tag(@user.profile_image.url, class: "img-fluid rounded-circle user-image mb-3") %>
            </div>
            <div class="col-md-8">
                <h2 class="fw-bold">
                    <%= @user.name %>
                </h2>
                <p class="user-comment">
                    <%= @user.comment %>
                </p>
            </div>
        </div>
    </div>

    <div class="favorite-food-form mb-5">
        <!-- お気に入りタブ（8/20追記） -->
        <div id="favorite-food-title" class="show-review-title mb-5">
            <h2 class="text-center text-primary fw-bold">お気に入り登録した食品一覧</h2>
        </div>

        <div class="row mb-5">
            <% @favorite_foods.each do |favorite| %>
                <div class="col-6 pt-4 d-flex">
                    <%= link_to food_path(favorite), class: "card index-card border-primary d-flex flex-row text-decoration-none" do %>
                        <!-- 食品写真 -->
                        <div class="d-flex align-items-center">
                            <%= image_tag(favorite.food_image.present? ? favorite.food_image.url : "image_ramen.png", class: "img-fluid index-food-image") %>
                        </div>
                        <div class="d-flex flex-column">
                            <!-- 食品名 -->
                            <h5 class="card-title fw-bold mt-2 text-primary mx-2">
                                <%= favorite.name %>
                            </h5>
                            <!-- 食品タグ -->
                            <h6 class="fw-bold">
                                <span class="badge rounded-pill bg-danger mx-2"><%= favorite.food_category.name %></span>
                            </h6>
                            <!-- 辛さレベル -->
                            <span class="card-text fw-bold mx-2">
                                <%=  I18n.t("activerecord.attributes.food.spice_level") %>
                                <% favorite.spice_level.times do %>
                                <i class="bi bi-fire text-danger"></i>
                                <% end %>
                                <% (5 - favorite.spice_level).times do %>
                                <i class="bi bi-fire text-secondary"></i>
                                <% end %>
                            </span>
                            <!-- 希望小売価格 -->
                            <span class="card-text fw-bold mx-2">
                                <%=  I18n.t("activerecord.attributes.food.price") %>
                                <% if favorite.price != 0 %>
                                <%= number_to_currency(favorite.price, unit: I18n.t("index.en"), format: "%n %u", precision: 0) %><%= I18n.t("index.in_price") %>
                                <% else %>
                                <%= I18n.t("index.open_price") %>
                                <% end %>
                            </span>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>

        <% if @favorite_foods.empty? %>
            <p class="text-center">お気に入りの食品はまだありません。</p>
        <% end %>
    </div>
</div>