<header>
    <nav class="navbar navbar-expand-lg navigation navbar-dark bg-primary">

        <div class="container-fluid">
            <!-- ブランド名 -->
            <%= link_to root_path, class: "navbar-brand" do %>
                <%= image_tag "logo1.png" %>
            <% end %>  

            <!-- ハンバーガーメニュー -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- ナビゲーション -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <%= link_to 'HOME', root_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'ゲキカラ、ドウ？について', about_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "#{current_user.name}のページ", user_path(current_user), class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to 'ログアウト', logout_path, class: "nav-link", data: { turbo_method: :delete } %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

