

<div class="container mt-5">
  <div class="about-form">
    <h2 class="text-primary mb-4"><%= I18n.t("about.title") %></h2>
    <p class="mb-0"><%= I18n.t("about.body_1") %></p>
    <p class="mb-5"><%= I18n.t("about.body_2") %></p>
 
    <h3 class="text-primary mb-4"><%= I18n.t("about.function") %></h3>
    <h4><%= I18n.t("about.function1") %></h4>
    <p class="mb-0"><%= I18n.t("about.function1_body1") %></p>
    <p class="mb-3"><%= I18n.t("about.function1_body2") %></p>
 
    <h4><%= I18n.t("about.function2") %></h4>
    <p class="mb-3"><%= I18n.t("about.function2_body1") %></p>

    <p class="mt-4"><%= I18n.t("about.message") %></p>
  </div>
</div>