<!-- パンくずリスト -->
<% breadcrumb :food_index %>

<div class="container my-5">
  <h1>検索結果</h1>
  <p class="text-center">あなたにぴったりの激辛食品が<span class="fw-bold text-primary "><%= @total_count %></span>件見つかりました。</p>
</div>

<div class="container bg-light">
  <!-- ページネーション -->
  <div class="container pt-3 text-end text-primary">
    <%= link_to '新しい順', foods_path(sort: 'new') %>
    <%= link_to '古い順', foods_path(sort: 'old') %>
    <%= link_to '辛い順', foods_path(sort: 'hot') %>
    <%= link_to '辛くない順', foods_path(sort: 'mild') %>
  </div>

  <!-- 検索結果概要 -->
  <div class="container">
    <div class="row">
      <% @foods.each do |food| %>
      <div class="col-6 pt-3">
        <div class="card shadow h-100 d-flex flex-row">
          <!-- 食品写真 -->
          <div class="d-flex align-items-center" style="padding: 10px;">
            <%= link_to food_path(food) do %>
              <%= image_tag(food.food_image.present? ? food.food_image.url : "image_ramen.png", class: "img-fluid", style: "width: 160px; height: auto; object-fit: cover;") %>
            <% end %>
          </div>
          <div class="card-body d-flex flex-column">
            <!-- 食品名 -->
            <h4 class="card-text fw-bold mt-2" style="min-height: 3rem;">
              <%= link_to food.name, food_path(food) %>
            </h4>
            <!-- 食品タグ -->
            <h4 class="fw-bold">
              <span class="badge rounded-pill bg-primary"><%= food.food_category.name %></span>
            </h4>
            <!-- 辛さレベル -->
            <p class="card-text fw-bold mt-2">
              辛さレベル　
              <% food.spice_level.times do %>
                <i class="bi bi-fire text-danger"></i>
              <% end %>
              <% (5 - food.spice_level).times do %>
                <i class="bi bi-fire text-secondary"></i>
              <% end %>
            </p>
            <!-- 希望小売価格 -->
            <p class="card-text fw-bold">
              希望小売価格
              <% if food.price != 0 %>
                <%= food.price.to_i %> 円 (税別)
              <% else %>
                オープン価格
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <!-- ページネーション -->
    <div class="mt-3">
      <%= paginate @foods, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
