<!-- パンくずリスト -->
<% breadcrumb :root %>

<div class="container my-5">
  <div class="title text-primary">
    <h1>ゲキカラ、ドウ？</h1>
  </div>
</div>

<div class="search-wrapper">
  <!-- 条件検索機能-->
  <%= form_with(scope: :search, url: foods_path, method: :get, local: true) do |f| %>
  <div class="row">
    <div class="col-4 d-flex align-items-center">
      <h1>ピッタリの辛いものを探そう！</h1>
    </div>
    <div class="col-8">
      <div class="row mb-3">
        <div class="col">
          <!-- 国から探す（セレクトボックス） -->
          国から探す
          <%= f.collection_select(:food_country_id, FoodCountry.all, :id, :name, { selected: @search_params[:food_country_id], include_blank: true }, { class: 'form-select' }) %>
        </div>
        <div class="col">
          <!-- 値段から探す（範囲指定） -->
          値段から探す
          <div class="d-flex align-items-center">
            <%= f.number_field :price_from, value: @search_params[:price_from], class:"form-control" %>
            <span class="mx-2"> ~ </span>
            <%= f.number_field :price_to, value: @search_params[:price_to], class:"form-control" %>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <!-- カテゴリから探す（セレクトボックス） -->
          カテゴリから探す
          <%= f.collection_select(:food_category_id, FoodCategory.all, :id, :name, { selected: @search_params[:food_category_id], include_blank: true }, { class: 'form-select' }) %>
        </div>
        <div class="col">
          <!-- キーワードから探す（テキストフィールド） -->
          キーワードから探す
          <%= f.text_field :keyword, value: @search_params[:keyword], class:"form-control" %>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <%= f.submit "検索する", class:"btn btn-lg btn-primary w-100" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>