<div class="container pt-3">
    <h1>商品詳細</h1>

    <ul>
        <li><%= @food.name %></li>
        <li><%= image_tag(@food.food_image.present? ? @food.food_image.url : "image_ramen.png") %></li>
        <li><%= @food.food_category.name %></li>
        <li>
            <% @food.spice_level.times do %>
                <i class="bi bi-fire text-danger"></i>
            <% end %>
            <% (5 - @food.spice_level).times do %>
                <i class="bi bi-fire text-secondary"></i>
            <% end %>
        </li>
        <li><%= @food.price %></li>
        <li><%= @food.title %></li>
        <li><%= @food.body %></li>
    </ul>

    <h1>Reviews</h1>
    <% @reviews.each do |review| %>
    <div>
        <p><%= review.title %></p>
        <p><%= review.rating %></p>
        <p><%= review.spice_level %></p>
    </div>
    <% end %>

</div>


  




