<div class="container pt-3">

    <h1>ログインページ</h1>

    <!-- ログイン -->
    <%= form_with url: login_path do |f| %>
        <!-- メールアドレス -->
        <div>
            メールアドレス
            <%= f.text_field :email %>    
        </div>
        <!-- パスワード -->
        <div>
            パスワード
            <%= f.password_field :password %>    
        </div>
        <div>
            <%= f.submit "ログインする" %>    
        </div>
    <% end %>

    <!-- 会員登録ページリンク -->
    <%= link_to '会員登録する', new_user_path %>
</div>