<% content_for(:title, I18n.t("user_session.new.title")) %>

<div class="user-new-container my-5">

  <!-- タイトル -->
  <h1><%= I18n.t("user_session.new.title") %></h1>
 
  <!-- ログイン -->
  <%= form_with url: login_path do |f| %>

    <div class="form-item">
      <%= f.text_field :email, placeholder: I18n.t("placeholder.email") %>
    </div>
    <div class="form-item">
      <%= f.password_field :password, placeholder: I18n.t("placeholder.password") %>
    </div>

    <!-- ログインする -->
    <%= f.submit I18n.t("buttons.login"), class:"btn user-new-btn" %>
  <% end %>

  <!-- 会員登録するリンク -->
  <div class="form-footer">
    <p><%= link_to I18n.t("links.submit"), new_user_path %></p>
    <!--<p><a href="#">Forgot password?</a></p>-->
  </div>
</div>