<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "bootswatch/bootstrap", "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= @body_class %> d-flex flex-column h-100">
    <!-- ログイン/未ログイン状態による切り替え（8/12追加） -->
    <!-- sorceryを使用している場合に提供されるメソッド -->
    <% if logged_in? %>
      <!-- TOPページ（foods#search）の場合（8/19追加） -->
      <% if @header_type == "search_header" %>
        <%= render 'shared/search_header' %>
      <% else %>
        <%= render 'shared/header' %>
      <% end %>
    <% else %>
      <% if @header_type == "search_header" %>
        <%= render 'shared/search_before_login_header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
    <% end %>
    
    <main class="flex-grow-1">
      <!-- パンくずリスト（8/15追加） -->
      <div class="container breadcrumbs-in mt-3">
        <%= breadcrumbs separator: " &rsaquo; " %>
      </div>

      <!-- フラッシュメッセージ（8/25追加） -->
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </main>

    <% if @footer_type == "search_footer" %>
      <%= render 'shared/search_footer' %>
    <% else %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
