<!DOCTYPE html>
<html>
  <head>
    <title>ゲキカラ、ドウ？</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag "bootswatch/bootstrap", "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- ログイン/未ログイン状態による切り替え（8/12追加） -->
    <!-- sorceryを使用している場合に提供されるメソッド -->
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= yield %>
    <!-- <%= render 'shared/footer' %> -->
  </body>
</html>
